<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragment :: head(~{::title})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>500</title>
    <link rel="icon" href="../../static/images/favicon.ico" th:href="@{/images/favicon.ico}">
</head>
<body>
<!-- 导航 -->
<nav th:replace="_fragment :: menu(0)" class="ui inverted segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h1 class="ui teal header item">ChenetBlog</h1>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a><!-- filter icon -->
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <div class="m-item right item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="menu toggle ui black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<br/>
<br/>
<br/>

<div class="m-container m-padded-tb-massive">
    <div class="ui error message">
        <div class="ui contianer">
            <h2>500</h2>
            <p>内部服务器错误</p>
        </div>
    </div>
</div>

<br/>
<br/>
<br/>

<!-- 底部 -->
<footer th:replace="_fragment::footer" class="ui inverted vertical segment m-padded-tb-large-half">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <img th:src="@{/images/qq.jpg}" src="../static/images/qq.jpg" class="ui rounded image centered" alt="" style="width: 8em;">
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">xxx</a>
                    <a href="#" class="item">yyy</a>
                    <a href="#" class="item">zzz</a>
                    <a href="#" class="item">aaa</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:chenaichenet@yeah.net</a>
                    <a href="#" class="item">QQ:1950679747</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">关于</h4>
                <p class="m-text-thin m-text-spaced m-opaciby-mini">个人博客</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opaciby-tiny"><i class="copyright outline icon"></i> 2020 - 2021
            ChenetBlog
            by ChenetChen</p>
    </div>
</footer>

</body>
</html>